*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  color: #FAEAFF;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 10px 5px;
  cursor: pointer;
  background-color: #786E87;
}

.buttons-flex-container {
  display: flex;
  justify-content: center;
}

.images {
  margin: auto;
  width: 1500px;
  justify-content: center;
  column-count: 3;
}

.image {
  text-align: center;
  width: 500px;
}

.image img {
  height: auto;
  width: 100%;
  max-width: 500px;
}

/*
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  flex-basis: 50%;
  max-width: 500px;
}

.image img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
*/

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

body {
  background-color: #FAEAFF;
}
